<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="templateSettings" type="Neumont.Tools.ORM.SDK.VersionGenerator+TemplateConfigurationSection, VersionGenerator" />
	</configSections>
	<appSettings>
		<add key="RevisionStartYearMonth" value="2006-01"/>
		<add key="ReleaseYearMonth" value="2024-07"/>
		<add key="CountQuartersFromYearMonth" value="2011-01"/>
		<!-- ReleaseType: "CTP" or "RTM" -->
		<add key="ReleaseType" value=""/>
		<!-- Changes to the major and/or minor version numbers have extreme effects across every part of the product. -->
		<!-- Change them only if you know EXACTLY what you are doing. -->
		<!-- If you had to read these comments, then you probably shouldn't change them... -->
		<add key="MajorVersion" value="1"/>
		<add key="MinorVersion" value="0"/>
		<!-- External command to get git-based version, overriding config versions.
		Output format is major.minor.build.revision-ghash -->
		<add key="GitCommand" value="NORMAGitVer.bat"/>
		<add key="GitCommandArgs" value="full ."/>
	</appSettings>
	<templateSettings last="LastVersion.xml">
		<templates>
			<template output="Version.wxi" major="0" minor="1" build="2" revision="3" yearMonth="4" buildType="5" warning="6"><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<!-- {6} -->
<Include xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define MajorMinorVersion="{0}.{1}"?>
	<?define MajorVersionHexits="{0:00}"?>
	<?define BuildVersion="{2}"?>
	<?define RevisionVersion="{3}"?>
	<?define ProductVersion="{0}.{1}.{2}.{3}"?>
	<?define VersionGuidSuffix="$(var.Debug)$(var.ExperimentalHive)$(var.Architecture)-$(var.MajorVersionHexits){2:000000}{3:0000}"?>
	<?define ReleaseDescription="{4}{5}"?>
</Include>]]></template>
			<template output="Version.bat" major="0" minor="1" build="2" revision="3" warning="4"><![CDATA[:: {4} 
@SET ProductMajorVersion={0}
@SET ProductMinorVersion={1}
@SET ProductBuildVersion={2}
@SET ProductRevisionVersion={3}
]]></template>
			<template output="Version.cs" major="0" minor="1" build="2" revision="3" hash="4" yearMonth="5" buildType="6" warning="7"><![CDATA[/* {7} */
[assembly: System.Reflection.AssemblyFileVersion("{0}.{1}.{2}.{3}")]
[assembly: System.Reflection.AssemblyInformationalVersion("{0}.{1}.{2}.{3}-g{4} ({5}{6})")]
[assembly: System.Reflection.AssemblyVersion("{0}.{1}.0.0")]
[assembly: System.Resources.SatelliteContractVersion("{0}.{1}.0.0")]
]]></template>
		</templates>
	</templateSettings>
</configuration>
