<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="RevisionStartYearMonth" value="2006-01"/>
		<add key="ReleaseYearMonth" value="2011-05"/>
		<add key="CountQuartersFromYearMonth" value="2011-01"/>
		<!-- ReleaseType: "CTP" or "RTM" -->
		<add key="ReleaseType" value="CTP"/>
		<!-- Changes to the major and/or minor version numbers have extreme effects across every part of the product. -->
		<!-- Change them only if you know EXACTLY what you are doing. -->
		<!-- If you had to read these comments, then you probably shouldn't change them... -->
		<add key="MajorVersion" value="1"/>
		<add key="MinorVersion" value="0"/>
	</appSettings>
</configuration>
