<?xml version="1.0" encoding="utf-8"?>
<!--
	Natural Object-Role Modeling Architect for Visual Studio

	Copyright © Neumont University. All rights reserved.

	The use and distribution terms for this software are covered by the
	Common Public License 1.0 (http://opensource.org/licenses/cpl) which
	can be found in the file CPL.txt at the root of this distribution.
	By using this software in any fashion, you are agreeing to be bound by
	the terms of this license.

	You must not remove this notice, or any other, from this software.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Config.wxi?>
	<Fragment>
		<ComponentGroup Id="MainFeatureComponents">
			<ComponentRef Id="LicenseFilesComponent"/>
			<ComponentRef Id="ReadmeComponent"/>
			<ComponentRef Id="NORMAVSPackageComponent"/>
			<ComponentRef Id="NORMAVSPackageGACComponent"/>
			<ComponentRef Id="NORMAVSSchemaCatalogComponent"/>
			<ComponentRef Id="NORMAVSSchemasLocalCatalogComponent"/>
			<ComponentRef Id="NORMAVSSettingsSchemaComponent"/>
			<ComponentRef Id="NORMAVSSettingsComponent"/>
			<ComponentRef Id="NORMAVSConvertersComponent"/>
			<ComponentRef Id="NORMAVSDiagramDisplaySchemaComponent"/>
			<ComponentRef Id="NORMAVSProjectItemsGeneralComponent"/>
			<ComponentRef Id="NORMAVSProjectItemsVBasicComponent"/>
			<ComponentRef Id="NORMAVSProjectItemsVCSharpComponent"/>
			<?ifdef JSharpSupport?>
			<ComponentRef Id="NORMAVSProjectItemsVJSharpComponent"/>
			<?endif?>
			<ComponentRef Id="NORMAVSProjectItemsVCPlusPlusComponent"/>
			<ComponentRef Id="NORMAVSProjectItemsVWebDevVBasicComponent"/>
			<ComponentRef Id="NORMAVSProjectItemsVWebDevCSharpComponent"/>
			<?ifdef JSharpSupport?>
			<ComponentRef Id="NORMAVSProjectItemsVWebDevJSharpComponent"/>
			<?endif?>
			<ComponentRef Id="NORMAVSVerbalizationComponent"/>
			<ComponentRef Id="NORMAVSVerbalizationCoreComponent"/>
			<ComponentRef Id="NORMAVSVerbalizationReportComponent"/>
			<ComponentRef Id="NORMAVSRelationalViewExtensionComponent"/>
			<ComponentRef Id="NORMAVSRelationalViewSchemaComponent"/>
			<ComponentRef Id="NORMAVSBarkerERViewExtensionComponent"/>
			<ComponentRef Id="NORMAVSBarkerERViewSchemaComponent"/>
			<ComponentRef Id="NORMAVSCustomPropertiesExtensionComponent"/>
			<ComponentRef Id="NORMAVSCustomPropertiesGACComponent"/>
			<ComponentRef Id="NORMAVSCustomPropertiesSchemaComponent"/>
			<ComponentRef Id="NORMAVSCustomPropertiesVerbalizationComponent"/>
			<ComponentRef Id="NORMAVSORMAbstractionExtensionComponent"/>
			<ComponentRef Id="NORMAVSORMAbstractionGACComponent"/>
			<ComponentRef Id="NORMAVSORMAbstractionSchemaComponent"/>
			<ComponentRef Id="NORMAVSORMToORMAbstractionExtensionComponent"/>
			<ComponentRef Id="NORMAVSORMToORMAbstractionGACComponent"/>
			<ComponentRef Id="NORMAVSORMToORMAbstractionSchemaComponent"/>
			<ComponentRef Id="NORMAVSRelationalModelsExtensionComponent"/>
			<ComponentRef Id="NORMAVSRelationalModelsGACComponent"/>
			<ComponentRef Id="NORMAVSRelationalModelsSchemaComponent"/>
			<ComponentRef Id="NORMAVSEntityRelationshipModelsExtensionComponent"/>
			<ComponentRef Id="NORMAVSEntityRelationshipModelsGACComponent"/>
			<ComponentRef Id="NORMAVSBarkerERModelSchemaComponent"/>
			<ComponentRef Id="NORMAVSORMAbstractionToConceptualDatabaseExtensionComponent"/>
			<ComponentRef Id="NORMAVSORMAbstractionToConceptualDatabaseGACComponent"/>
			<ComponentRef Id="NORMAVSORMAbstractionToConceptualDatabaseSchemaComponent"/>
			<ComponentRef Id="NORMAVSORMAbstractionToBarkerERSchemaExtensionComponent"/>
			<ComponentRef Id="NORMAVSORMAbstractionToBarkerERGACComponent"/>
			<ComponentRef Id="NORMAVSORMAbstractionToBarkerERSchemaComponent"/>
			<ComponentRef Id="ORMSchemaCatalogComponent"/>
			<ComponentRef Id="ORMSchemasComponent"/>
			<ComponentRef Id="ORMSchemasLocalCatalogComponent"/>
			<ComponentRef Id="ORMTransformsComponent"/>
		</ComponentGroup>
		<ComponentGroup Id="DatabaseImportFeatureComponents">
			<ComponentRef Id="NORMADBImportComponent"/>
			<ComponentRef Id="NORMADBImportGACComponent"/>
			<ComponentRef Id="NORMADBImportProjectItemsGeneralComponent"/>
			<ComponentRef Id="NORMADBImportProjectItemsVBasicComponent"/>
			<ComponentRef Id="NORMADBImportProjectItemsVCSharpComponent"/>
			<?ifdef JSharpSupport?>
			<ComponentRef Id="NORMADBImportProjectItemsVJSharpComponent"/>
			<?endif?>
			<ComponentRef Id="NORMADBImportProjectItemsVCPlusPlusComponent"/>
			<ComponentRef Id="NORMADBImportProjectItemsVWebDevVBasicComponent"/>
			<ComponentRef Id="NORMADBImportProjectItemsVWebDevCSharpComponent"/>
			<?ifdef JSharpSupport?>
			<ComponentRef Id="NORMADBImportProjectItemsVWebDevJSharpComponent"/>
			<?endif?>
		</ComponentGroup>
		<ComponentGroup Id="HelpFeatureComponents">
			<ComponentRef Id="NORMAVSHelpComponent"/>
		</ComponentGroup>
		<ComponentGroup Id="GenerationFeatureComponents">
			<!-- Base generation stuff (OIAL transforms and schemas, ORMCustomTool, etc.) go here -->
			<ComponentRef Id="OIALSchemasComponent"/>
			<ComponentRef Id="OIALTransformsComponent"/>
			<ComponentRef Id="ORMCustomToolComponent"/>
			<ComponentRef Id="ORMCustomToolVBasicComponent"/>
			<ComponentRef Id="ORMCustomToolVCSharpComponent"/>
			<?ifdef JSharpSupport?>
			<ComponentRef Id="ORMCustomToolVJSharpComponent"/>
			<?endif?>
		</ComponentGroup>
		<ComponentGroup Id="ClassModelGenerationFeatureComponents">
			<!-- OIAL-to-PLiX transforms go here. -->
			<ComponentRef Id="ORMClassModelSchemasComponent"/>
			<ComponentRef Id="ORMClassModelTransformsComponent"/>
			<ComponentRef Id="ORMClassModelPHPTransformsComponent"/>
			<?ifdef LinqSupport?>
			<ComponentRef Id="ORMClassModelLinqToSqlTransformsComponent"/>
			<?endif?>
			<!--<ComponentRef Id="ORMClassModelTransformsTestFormComponent"/>-->
		</ComponentGroup>
		<ComponentGroup Id="XmlSchemaGenerationFeatureComponents">
			<!-- OIAL-to-XSD transforms go here. -->
			<ComponentRef Id="ORMXmlSchemaTransformsComponent"/>
		</ComponentGroup>
		<ComponentGroup Id="RelationalSchemaGenerationFeatureComponents">
			<!-- OIAL-to-SQL transforms go here. -->
			<ComponentRef Id="ORMRelationalSchemaTransformsComponent"/>
			<ComponentRef Id="DILSchemaCatalogComponent"/>
			<ComponentRef Id="DILSchemasComponent"/>
			<ComponentRef Id="DILTransformsComponent"/>
		</ComponentGroup>
	</Fragment>
</Wix>