<?xml version="1.0" encoding="utf-8"?>
<!--
	Natural Object-Role Modeling Architect for Visual Studio

	Copyright © Neumont University. All rights reserved.

	The use and distribution terms for this software are covered by the
	Common Public License 1.0 (http://opensource.org/licenses/cpl) which
	can be found in the file CPL.txt at the root of this distribution.
	By using this software in any fashion, you are agreeing to be bound by
	the terms of this license.

	You must not remove this notice, or any other, from this software.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Config.wxi?>
	<Fragment>
		
		<Feature Id="MainFeature" Title="!(loc.ProductName$(var.VSShortName))" Description="!(loc.MainFeatureDescription)"
			Level="1" Display="expand" TypicalDefault="install" InstallDefault="local" Absent="disallow" AllowAdvertise="no">
			<ComponentGroupRef Id="MainFeatureComponents"/>

			<Feature Id="HelpFeature" Title="!(loc.HelpFeatureTitle)" Description="!(loc.HelpFeatureDescription)"
				Level="1" TypicalDefault="install" InstallDefault="followParent" AllowAdvertise="no">
				<ComponentGroupRef Id="HelpFeatureComponents"/>
				<MergeRef Id="MSHelpRegistration"/>
				<?ifdef HxMergeVSHelpCollection?>
					<MergeRef Id="VSHelpCollection"/>
				<?endif?>
			</Feature>

			<Feature Id="DatabaseImportFeature" Title="!(loc.DatabaseImportFeatureTitle)" Description="!(loc.DatabaseImportFeatureDescription)"
				Level="1" TypicalDefault="install" InstallDefault="followParent" AllowAdvertise="no">
				<ComponentGroupRef Id="DatabaseImportFeatureComponents"/>
			</Feature>

			<Feature Id="GenerationFeature" Title="!(loc.GenerationFeatureTitle)" Description="!(loc.GenerationFeatureDescription)"
				Level="1" TypicalDefault="install" InstallDefault="followParent" AllowAdvertise="no">
				<ComponentGroupRef Id="GenerationFeatureComponents"/>

				<Feature Id="ClassModelGenerationFeature" Title="!(loc.ClassModelGenerationFeatureTitle)" Description="!(loc.ClassModelGenerationFeatureDescription)"
					Level="1" TypicalDefault="install" InstallDefault="followParent" AllowAdvertise="no">
					<ComponentGroupRef Id="ClassModelGenerationFeatureComponents"/>
					<!-- TODO: Once we have a PLiX installer, we should add a conditional to this feature so that PLiX must be installed first. -->
				</Feature>

				<Feature Id="XmlSchemaGenerationFeature" Title="!(loc.XmlSchemaGenerationFeatureTitle)" Description="!(loc.XmlSchemaGenerationFeatureDescription)"
					Level="1" TypicalDefault="install" InstallDefault="followParent" AllowAdvertise="no">
					<ComponentGroupRef Id="XmlSchemaGenerationFeatureComponents"/>
				</Feature>

				<Feature Id="RelationalSchemaGenerationFeature" Title="!(loc.RelationalSchemaGenerationFeatureTitle)" Description="!(loc.RelationalSchemaGenerationFeatureDescription)"
					Level="1" TypicalDefault="install" InstallDefault="followParent" AllowAdvertise="no">
					<ComponentGroupRef Id="RelationalSchemaGenerationFeatureComponents"/>
				</Feature>

			</Feature>
			
		</Feature>
		
	</Fragment>
</Wix>