<?xml version="1.0" encoding="utf-8"?>
<!--
	Natural Object-Role Modeling Architect for Visual Studio

	Copyright © Neumont University. All rights reserved.

	The use and distribution terms for this software are covered by the
	Common Public License 1.0 (http://opensource.org/licenses/cpl) which
	can be found in the file CPL.txt at the root of this distribution.
	By using this software in any fashion, you are agreeing to be bound by
	the terms of this license.

	You must not remove this notice, or any other, from this software.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!-- NOTE: All comments and instructions in this file are specifically for NORMA setup, and do not necessarily apply to setup packages in general. -->
	<?include Config.wxi?>
	
	<Product
		Name="!(loc.ProductName$(var.VSShortName))"
		Manufacturer="!(loc.Manufacturer)"
		Language="$(var.DefaultLCID)"
		Version="$(var.ProductVersion)"
		Id="$(var.ProductCode)"
		UpgradeCode="$(var.UpgradeCode)">

		<Package
			Id="$(var.PackageCode)"
			Description="!(loc.ProductName$(var.VSShortName)) - $(var.ReleaseDescription)"
			Comments="!(loc.PackageCommentsPrefix)!(loc.ProductName$(var.VSShortName))!(loc.PackageCommentsSuffix)"
			Manufacturer="!(loc.Manufacturer)"
			InstallerVersion="300"
			Compressed="yes"
			ShortNames="no"
			InstallPrivileges="elevated"/>

		<Upgrade Id="$(var.UpgradeCode)">
			<UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" MigrateFeatures="yes" Property="UPGRADEPRODUCTCODES"/>
		</Upgrade>

		<!-- Our commit custom action DevEnvSetupCustomAction will not be run if rollback is disabled. Therefore, we require that rollback NOT be disabled. -->
		<Condition Message="!(loc.RollbackMustNotBeDisabled)">NOT RollbackDisabled</Condition>

		<Condition Message="!(loc.Windows2000OrHigherRequired)">VersionNT >= 500</Condition>

		<Property Id="VSPRODUCTDIR">
			<RegistrySearch Id="VSProductDirRegistrySearch" Root="HKLM" Key="$(var.VSRegRoot)\Setup\VS" Name="ProductDir" Type="directory" Win64="$(var.Win64)"/>
		</Property>
		<Property Id="VSTEMPLATEITEMDIR">
			<RegistrySearch Id="VSTemplateItemDirRegistrySearch" Root="HKLM" Key="$(var.VSRegRoot)\VSTemplate\Item" Name="UserFolder" Type="directory" Win64="$(var.Win64)"/>
		</Property>
		<Property Id="VSENVIRONMENTPATH">
			<RegistrySearch Id="VSEnvironmentPathRegistrySearch" Root="HKLM" Key="$(var.VSRegRoot)\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="$(var.Win64)"/>
		</Property>
		<!-- Make sure Visual Studio 2005 is installed. Since VS requires .NET, we don't need to check for it separately. -->
		<!-- Technically, since DSL Tools requires VS, we don't even need to do this check, but since we have to get the properties anyway, we might as well. It gives the user a more appropriate error message, anyway. -->
		<Condition Message="!(loc.VisualStudio2005Required)">(VSPRODUCTDIR AND VSTEMPLATEITEMDIR AND VSENVIRONMENTPATH) OR Installed</Condition>

		<?ifdef RequireDSLRedist?>
			<Property Id="DSLTOOLSREDISTINSTALL">
				<RegistrySearch Id="DSLToolsRedistInstallRegistrySearch" Root="HKLM" Key="$(var.DSLRegRoot)" Name="RedistInstall" Type="raw" Win64="$(var.Win64)"/>
			</Property>
			<!-- Make sure the DSL Tools redistributable or SDK is installed. -->
			<Condition Message="!(loc.DSLToolsRequired)">DSLTOOLSREDISTINSTALL OR Installed</Condition>
		<?endif?>

		<Property Id="PLIXSCHEMAVERSION">
			<RegistrySearch Id="PLiXSchemaVersionRegistrySearch" Root="HKLM" Key="$(var.PLiXRegRoot)" Name="SchemaVersion" Type="raw" Win64="$(var.Win64)"/>
		</Property>
		<Condition Message="!(loc.PLiXRequired)">(PLIXSCHEMAVERSION >= $(var.PLiXMinimumSchemaVersion)) OR Installed</Condition>
		
		<!-- Get the package GUIDs for the various VS packages. -->
		<Property Id="VCSHARPPACKAGEGUID">
			<RegistrySearch Id="VCSharpPackageGUIDRegistrySearch" Root="HKLM" Key="$(var.VSRegRoot)\InstalledProducts\Microsoft Visual C#" Name="Package" Type="raw" Win64="$(var.Win64)"/>
		</Property>
		<Property Id="VBASICPACKAGEGUID">
			<RegistrySearch Id="VBasicPackageGUIDRegistrySearch" Root="HKLM" Key="$(var.VSRegRoot)\InstalledProducts\Microsoft Visual Basic" Name="Package" Type="raw" Win64="$(var.Win64)"/>
		</Property>
		<?ifdef JSharpSupport?>
		<Property Id="VJSHARPPACKAGEGUID">
			<RegistrySearch Id="VJSharpPackageGUIDRegistrySearch" Root="HKLM" Key="$(var.VSRegRoot)\InstalledProducts\Microsoft Visual J#" Name="Package" Type="raw" Win64="$(var.Win64)"/>
		</Property>
		<?endif?>
		<Property Id="VCPLUSPLUSPACKAGEGUID">
			<RegistrySearch Id="VCPlusPlusPackageGUIDRegistrySearch" Root="HKLM" Key="$(var.VSRegRoot)\InstalledProducts\Microsoft Visual C++" Name="Package" Type="raw" Win64="$(var.Win64)"/>
		</Property>
		<Property Id="VWEBDEVPACKAGEGUID">
			<RegistrySearch Id="VWebDevPackageGUIDRegistrySearch" Root="HKLM" Key="$(var.VSRegRoot)\InstalledProducts\Visual Web Developer" Name="Package" Type="raw" Win64="$(var.Win64)"/>
		</Property>

		<!-- Only support per-machine installation. -->
		<Property Id="ALLUSERS">1</Property>
		
		<!-- Setup Add/Remove Programs functionality. -->
		<Property Id="ARPNOMODIFY" Value="1"/>
		<Property Id="ARPCONTACT">!(loc.Manufacturer)</Property>
		<Property Id="ARPPRODUCTICON">AboutBox.ico</Property>
		<Property Id="ARPURLINFOABOUT">$(var.ORMSolutionsWebsiteUrl)</Property>
		<Property Id="ARPURLUPDATEINFO">$(var.NORMAWebsiteUrl)</Property>
		
		<Icon Id="AboutBox.ico" SourceFile="..\ORMModel\Resources\AboutBox.ico"/>
		
		<Media Id="1" Cabinet="NORMA_VS.cab" EmbedCab="yes" CompressionLevel="high"/>

		<FeatureRef Id="MainFeature"/>
		<DirectoryRef Id="TARGETDIR"/>

		<Property Id="ADMINORADVERTISED">!(loc.AdminOrAdvertised)</Property>
		<CustomAction Id="AdminOrAdvertisedCustomAction" Return="check" Error="[ADMINORADVERTISED]"/>
		<AdminExecuteSequence>
			<Custom Before="CostInitialize" Action="AdminOrAdvertisedCustomAction"/>
		</AdminExecuteSequence>
		<AdvertiseExecuteSequence>
			<Custom Before="CostInitialize" Action="AdminOrAdvertisedCustomAction"/>
		</AdvertiseExecuteSequence>

		<CustomAction Id="ArpInstallLocationCustomAction" Property="ARPINSTALLLOCATION" Value="[$(var.DefaultShortProductDir)]"/>
		<CustomAction Id="DevEnvSetupCustomAction" Property="VSENVIRONMENTPATH" ExeCommand="$(var.RootSuffixCmd)/Setup" Return="ignore" Impersonate="no" Execute="commit"/>
		<InstallExecuteSequence>
			<RemoveExistingProducts Before="ArpInstallLocationCustomAction"/>
			<Custom Before="InstallInitialize" Action="ArpInstallLocationCustomAction"/>
			<Custom Before="InstallFinalize" Action="DevEnvSetupCustomAction"/>
			<!-- We need to move InstallFinalize back from its normal point in the sequence, since the MSHelp2 merge modules expect it to occur later. -->
			<InstallFinalize Sequence="8000"/>
		</InstallExecuteSequence>

		<UIRef Id="NORMAUI"/>
	</Product>
</Wix>
