<?xml version="1.0" encoding="utf-8"?>
<!--
	Neumont Object-Role Modeling Architect for Visual Studio

	Copyright © Neumont University. All rights reserved.

	The use and distribution terms for this software are covered by the
	Common Public License 1.0 (http://opensource.org/licenses/cpl) which
	can be found in the file CPL.txt at the root of this distribution.
	By using this software in any fashion, you are agreeing to be bound by
	the terms of this license.

	You must not remove this notice, or any other, from this software.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Fragment>

		<CustomAction Id="WixUIInstallModeCustomAction" Property="WixUI_InstallMode" Value="InstallTypical" />
		<InstallUISequence>
			<Custom Before="WelcomeDlg" Action="WixUIInstallModeCustomAction">NOT Installed</Custom>
		</InstallUISequence>
		
		<UI Id="NORMAUI">
			<ProgressText Action="DevEnvSetupCustomAction">$(loc.ProgressTextDevEnvSetupCustomAction)</ProgressText>
			
			<!--
				First-time install dialog sequence:
					WixUI_WelcomeDlg, WixUI_VerifyReadyDlg
				Maintenance dialog sequence:
					WixUI_MaintenanceWelcomeDlg, WixUI_MaintenanceTypeDlg, WixUI_VerifyReadyDlg
			-->

			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8"/>
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12"/>
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes"/>
			
			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal"/>

			<DialogRef Id="ErrorDlg"/>
			<DialogRef Id="ExitDialog"/>
			<DialogRef Id="FatalError"/>
			<DialogRef Id="FilesInUse"/>
			<DialogRef Id="MaintenanceTypeDlg"/>
			<DialogRef Id="MaintenanceWelcomeDlg"/>
			<DialogRef Id="MsiRMFilesInUse"/>
			<DialogRef Id="PrepareDlg"/>
			<DialogRef Id="ProgressDlg"/>
			<DialogRef Id="ResumeDlg"/>
			<DialogRef Id="UserExit"/>
			<DialogRef Id="VerifyReadyDlg"/>
			<DialogRef Id="WelcomeDlg"/>

			<Property Id="WixUI_WelcomeDlg_Next" Value="VerifyReadyDlg"/>
			<Property Id="WixUI_VerifyReadyDlg_BackRepair" Value="MaintenanceTypeDlg"/>
			<Property Id="WixUI_VerifyReadyDlg_BackRemove" Value="MaintenanceTypeDlg"/>
			<Property Id="WixUI_VerifyReadyDlg_BackTypical" Value="WelcomeDlg"/>
			<Property Id="WixUI_MaintenanceWelcomeDlg_Next" Value="MaintenanceTypeDlg"/>
			<Property Id="WixUI_MaintenanceTypeDlg_Back" Value="MaintenanceWelcomeDlg"/>
			<Property Id="WixUI_MaintenanceTypeDlg_Repair" Value="VerifyReadyDlg"/>
			<Property Id="WixUI_MaintenanceTypeDlg_Remove" Value="VerifyReadyDlg"/>
			
		</UI>

		<UIRef Id="WixUI_Common"/>
		<UIRef Id="WixUI_ErrorProgressText"/>
		
	</Fragment>
</Wix>
