<?xml version="1.0" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Neumont.Tools.ORM.SDK.TestReportViewer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Neumont.Tools.ORM.SDK.TestReportViewer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v2.0.50727" safemode="true"/>
		<requiredRuntime version="v2.0.50727" safemode="true"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="PublicAssemblies;PrivateAssemblies;DSLTools"/>
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="7.0.3300.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.Designer.Interfaces" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.5000.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.net>
		<settings>
			<ipv6 enabled="true"/>
		</settings>
	</system.net>
 <applicationSettings>
  <Neumont.Tools.ORM.SDK.TestReportViewer.Settings>
   <setting name="VisualStudioVersion" serializeAs="String">
    <value>8.0</value>
   </setting>
  </Neumont.Tools.ORM.SDK.TestReportViewer.Settings>
 </applicationSettings>
 <userSettings>
  <Neumont.Tools.ORM.SDK.TestReportViewer.Settings>
   <setting name="DiffProgram" serializeAs="String">
    <value>C:\Program Files\Microsoft Visual Studio 8\Common7\Tools\Bin\WinDiff.exe</value>
   </setting>
   <setting name="DllMapping" serializeAs="String">
    <value />
   </setting>
  </Neumont.Tools.ORM.SDK.TestReportViewer.Settings>
 </userSettings>
</configuration>
